body {
  font-family: Arial, sans-serif;
  background: #4a55a2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
  box-sizing: border-box;
  resize: vertical;
}

button {
  display: block;
  margin: auto;
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 17px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

/* Información del grupo */
.group-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.group-info p {
  font-weight: bold;
  margin-right: 10px;
}

/* Enlaces de redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

/* Botón de WhatsApp */
.whatsapp-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
