.titulo-pagina-html-de-contacto {
  font-weight: bold;
  color: black;
  font-size: 2.25rem;
  font-family: "Gentium Plus", serif;
}

.titulos-html-de-contacto {
  font-weight: bold;
  color: purple;
  font-size: 2.25rem;
  font-family: "Gentium Plus", serif;
  text-align: center;
}

.titulo-pagina-html-de-equipo {
  font-weight: bold;
  color: black;
  font-size: 2.25rem;
  font-family: "Gentium Plus", serif;
}

.titulos-html-de-equipo {
  font-weight: bold;
  color: purple;
  font-size: 2.25rem;
  font-family: "Gentium Plus", serif;
  text-align: center;
}

.efecto-animacion {
  border-right: 10px solid #eee; /* cursor-color */
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(77) 2s forwards, blink 0.9s infinite;
}

@keyframes typewriter {
  to {
    width: 77ch; /* characters */
  }
}

@keyframes blink {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #eee; /* cursor-color */
  }
  100% {
    border-right-color: transparent;
  }
}
